@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Work+Sans:wght@300&display=swap');

.Heading {
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
    color: #0059C1;
    font-family: 'Racing Sans One', cursive;
}

.newtaskgroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    width: 50%;
    padding: 10px;
}

.addtaskbtn{
    margin-left: 10px;
    background-color: #0059C1;
    color: white;
}

.tasks{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.deletebtn{
    margin-left: auto;
}